In [1]:
!ls data

data-full.csv  data-full.xlsx dataset.xlsx

In [4]:
import pandas as pd

df = pd.read_csv("data/data-full.csv", index_col=0)

In [5]:
df.head()

,Пол,День рождения,Возраст клиента,Заявка №,Дата бронирования,Дата начала тура,Год,Ночей,Вид тура,Тип заявки,...,Младенцы,Звездность,Состав группы (Заявка) (Заявка),Сумма в $,Наименование тура,ИД клиента,Глубина продаж,Тип питания,Город Отеля,Город отправления
0,мужской,2018-08-28 00:00:00,2.0,4803671,2021-02-07 20:44:00,2021-05-04 00:00:00,2021,12,Пляжный отдых,Пакет,...,0,4*,Семья,1718.64,Turkey Antalya LED,4197428,85.136111,All Inclusive,NaN,Санкт-Петербург
1,мужской,1991-04-25 00:00:00,29.0,4803671,2021-02-07 20:44:00,2021-05-04 00:00:00,2021,12,Пляжный отдых,Пакет,...,0,4*,Семья,1718.64,Turkey Antalya LED,4197429,85.136111,All Inclusive,NaN,Санкт-Петербург
2,мужской,1980-11-05 00:00:00,40.0,4803915,2021-02-08 09:03:00,2021-03-04 00:00:00,2021,6,Пляжный отдых,Пакет,...,0,5*,Семья,948.45,Turkey Antalya MOW,4197517,23.622917,AIP,Боазкент,Москва
3,мужской,2013-02-27 00:00:00,8.0,4806034,2021-02-08 19:46:00,2021-10-09 00:00:00,2021,11,Пляжный отдых,Пакет,...,0,5*,Семья,2128.15,Turkey Antalya MOW,4197718,242.176389,UAI,Текирова,Москва
4,мужской,1968-10-06 00:00:00,52.0,4806034,2021-02-08 19:46:00,2021-10-09 00:00:00,2021,11,Пляжный отдых,Пакет,...,0,5*,Семья,2128.15,Turkey Antalya MOW,4197719,242.176389,UAI,Текирова,Москва

In [6]:
df.dtypes

Пол                                 object
День рождения                       object
Возраст клиента                    float64
Заявка №                             int64
Дата бронирования                   object
Дата начала тура                    object
Год                                  int64
Ночей                                int64
Вид тура                            object
Тип заявки                          object
Страна тура                         object
Регион отеля                        object
Туристов                             int64
Туристы, взрослые                    int64
Туристы, дети                        int64
Младенцы                             int64
Звездность                          object
Состав группы (Заявка) (Заявка)     object
Сумма в $                          float64
Наименование тура                   object
ИД клиента                           int64
Глубина продаж                     float64
Тип питания                         object
Город Отеля                         object
Город отправления                   object
dtype: object

In [27]:
from pandas_profiling import ProfileReport

profile = ProfileReport(df, title="Задача 6. Profile report")
profile.to_file("pandas-profile-data-sample.html")

Summarize dataset:   0%|          | 0/38 [00:00<?, ?it/s]

/Users/u17485588/Library/Caches/pypoetry/virtualenvs/travelhack-zzJLGS5o-py3.9/lib/python3.9/site-packages/scipy/stats/stats.py:4594: RuntimeWarning: overflow encountered in long_scalars
  (2 * xtie * ytie) / m + x0 * y0 / (9 * m * (size - 2)))

Generate report structure:   0%|          | 0/1 [00:00<?, ?it/s]

Render HTML:   0%|          | 0/1 [00:00<?, ?it/s]

Export report to file:   0%|          | 0/1 [00:00<?, ?it/s]

In [19]:
df["Дата начала тура"]

0         2021-05-04 00:00:00
1         2021-05-04 00:00:00
2         2021-03-04 00:00:00
3         2021-10-09 00:00:00
4         2021-10-09 00:00:00
                 ...
209604    2021-04-26 00:00:00
209605    2021-07-09 00:00:00
209606    2021-05-01 00:00:00
209607    2020-09-06 00:00:00
209608    2021-07-24 00:00:00
Name: Дата начала тура, Length: 209609, dtype: object

In [25]:
pd.to_datetime(df["Дата начала тура"], infer_datetime_format=True).min()

Timestamp('2017-10-27 00:00:00')

In [26]:
pd.to_datetime(df["Дата начала тура"], infer_datetime_format=True).max()

Timestamp('2022-04-13 00:00:00')

In [ ]:
df["Дата начала тура"]